In [23]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (
    SparkSession.builder.appName("pyspark_aula_04")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .getOrCreate()
)

df = spark.read.csv("./desafio/titanic.csv", sep=',', header=True)

In [24]:
df.limit(5)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+

In [34]:
total_registros = df.count()
total_registros

891

In [25]:
total_sobreviventes = df.filter(F.col('Survived') == 1).count()
total_sobreviventes

342

In [14]:
proporcao_sobreviventes = (total_sobreviventes / total_registros)*100
proporcao_sobreviventes

38.34080717488789

In [29]:
media_idade_nao_sobreviventes = df.filter(F.col('Survived') == 0).select(F.avg('Age')).collect()[0]
media_idade_nao_sobreviventes

Row(avg(Age)=30.62617924528302)

In [31]:
Passageiros_3_classe_sobreviveram = df.filter(F.col('Survived') == 0).select(F.col('Pclass') == 3).count()
Passageiros_3_classe_sobreviveram

549

In [32]:
total_mulheres = df.filter(F.col('Sex') == 'female').count()
mulheres_sobrevivente = df.filter((F.col('Survived') == 1) & (F.col('Sex') == 'female')).count()

proporcao_mulhers_sobreviventes = (mulheres_sobrevivente / total_mulheres)*100
proporcao_mulhers_sobreviventes

74.20382165605095

In [33]:
#Preço medio de passagens

preco_medio_passagem = df.filter(F.col('Survived') == 1).select(F.avg('Fare')).collect()[0]
preco_medio_passagem

Row(avg(Fare)=48.39540760233917)

In [40]:
# Proporção de passageiros do sexo masculino

proporcao_de_homens = df.filter(F.col('sex') == 'male').count()
proporcao_de_homens = (proporcao_de_homens/total_registros) * 100
proporcao_de_homens

64.75869809203144

In [44]:
total_passageiros_3_classe = df.filter(F.col('Pclass') == 3).count()
Passageiros_3_classe_sobreviveram = df.filter(F.col('Survived') == 1).select(F.col('Pclass') == 3).count()

proporcao_3_classe_sobreviventes = (Passageiros_3_classe_sobreviveram / total_passageiros_3_classe)*100
proporcao_3_classe_sobreviventes

69.65376782077392

In [ ]:
media_idade_nao_sobreviventes = df.filter(F.col('Survived') == 0).select(F.avg('Age')).collect()[0]
media_idade_nao_sobreviventes