In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (
    SparkSession.builder.appName("pyspark_aula_07")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .getOrCreate()
)

df = spark.read.parquet(".bases/LOGINS.parquet")

In [13]:
(
    df
    # .groupBy('estado','cor_favorita').count().groupBy('estado').sum('count') # somando os valores de count por estado
    # .groupBy('estado','cor_favorita').count().groupBy('estado').avg('count') # media dos valores de count por estado
    # .groupBy('estado','cor_favorita').count().groupBy('estado').min('count') # minimo dos valores de count por estado
    # .groupBy('estado','cor_favorita').count().groupBy('estado').max('count') # maximo dos valores de count por estado
    .groupBy(F.year('data_de_nascimento')).count()
)

+------------------------+-----+
|year(data_de_nascimento)|count|
+------------------------+-----+
|                    1959|    8|
|                    1990|    7|
|                    1975|    7|
|                    1977|    5|
|                    1924|    9|
|                    2003|    7|
|                    2007|   12|
|                    2018|   13|
|                    1974|    7|
|                    2015|    9|
|                    2023|    2|
|                    1927|    6|
|                    1955|   13|
|                    2006|   14|
|                    2022|    9|
|                    1978|    6|
|                    1908|    8|
|                    1925|    7|
|                    1961|    7|
|                    2013|    9|
+------------------------+-----+
only showing top 20 rows

+------+------------------+
|estado|        avg(count)|
+------+------------------+
|    SC| 3.142857142857143|
|    RO|            2.4375|
|    PI|               2.5|
|    AM|2.4285714285714284|
|    RR|2.5384615384615383|
|    GO|            2.8125|
|    TO|2.4285714285714284|
|    MT|2.0714285714285716|
|    SP|3.2666666666666666|
|    ES| 2.533333333333333|
|    PB|2.2666666666666666|
|    RS|               2.6|
|    MS|               3.0|
|    AL|               2.4|
|    MG|             2.875|
|    PA|               2.0|
|    BA|               3.0|
|    SE| 2.933333333333333|
|    PE|2.4285714285714284|
|    CE|            2.8125|
+------+------------------+
only showing top 20 rows