In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (
    SparkSession.builder.appName("pyspark_aula_12")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .getOrCreate()
)

In [2]:
df = spark.read.parquet("./bases/COMPRAS.parquet")

# Pivot

In [3]:
df2 = (
    df
    .withColumn('mes', F.date_format('data', 'MMMM'))
    .groupBy('cartao_bandeira')
    .pivot('mes',['January', 'February'])
    .agg(F.count('*'))
)

In [4]:
df2

+--------------------+-------+--------+
|     cartao_bandeira|January|February|
+--------------------+-------+--------+
|       VISA 16 digit|    878|     772|
|       VISA 13 digit|    420|     350|
|            Discover|    454|     406|
|Diners Club / Car...|    397|     395|
|    American Express|    385|     353|
|             Maestro|    424|     374|
|          Mastercard|    415|     359|
|        JCB 16 digit|    835|     756|
|       VISA 19 digit|    437|     388|
|        JCB 15 digit|    386|     374|
+--------------------+-------+--------+

# UNPIVOT

In [22]:
df2.select('cartao_bandeira', F.expr('stack(2, "Jan", January, "Feb", February) as (mes, valorees)'))

+--------------------+---+--------+
|     cartao_bandeira|mes|valorees|
+--------------------+---+--------+
|       VISA 16 digit|Jan|     878|
|       VISA 16 digit|Feb|     772|
|       VISA 13 digit|Jan|     420|
|       VISA 13 digit|Feb|     350|
|            Discover|Jan|     454|
|            Discover|Feb|     406|
|Diners Club / Car...|Jan|     397|
|Diners Club / Car...|Feb|     395|
|    American Express|Jan|     385|
|    American Express|Feb|     353|
|             Maestro|Jan|     424|
|             Maestro|Feb|     374|
|          Mastercard|Jan|     415|
|          Mastercard|Feb|     359|
|        JCB 16 digit|Jan|     835|
|        JCB 16 digit|Feb|     756|
|       VISA 19 digit|Jan|     437|
|       VISA 19 digit|Feb|     388|
|        JCB 15 digit|Jan|     386|
|        JCB 15 digit|Feb|     374|
+--------------------+---+--------+