# Exercitando as funções numericas

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (
    SparkSession.builder.appName("pyspark_aula_04")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .getOrCreate()
)

df = spark.read.parquet("./bases/IMC.parquet")

In [2]:
df

+--------------------+------+------+
|                nome|altura|  peso|
+--------------------+------+------+
|    Pietra Fernandes|   176| 97.88|
|   Ana Júlia da Rosa|   163| 80.56|
|    Fernando Martins|   150| 85.55|
|       Isis Silveira|   173|  70.1|
|       Cecília Porto|   190| 93.42|
|  Sra. Bruna Almeida|   198| 73.07|
|   Maria Julia Silva|   170| 71.36|
|Pedro Henrique da...|   188|105.57|
|   Davi Lucas Campos|   180| 98.49|
|      Juan Gonçalves|   175| 71.87|
+--------------------+------+------+

In [14]:
(
    df
    # .withColumn('round', F.round(df.peso, 1)) # Arredondar para 1 casa decimal
    # .withColumn('ceil', F.ceil(df.peso)) # Arredondar para cima
    # .withColumn('floor', F.floor(df.peso)) # Arredondar para baixo
    # .withColumn('abs', F.abs(df.peso)) # Valor absoluto
    # .withColumn('pow', F.pow(df.peso, 2)) # Potência
    # .withColumn('sqrt', F.sqrt(F.col('pow'))) # Raiz quadrada
    .withColumn('imc', F.round(F.pow(df.peso, 2) / df.altura, 1))
)

+--------------------+------+------+----+
|                nome|altura|  peso| imc|
+--------------------+------+------+----+
|    Pietra Fernandes|   176| 97.88|54.4|
|   Ana Júlia da Rosa|   163| 80.56|39.8|
|    Fernando Martins|   150| 85.55|48.8|
|       Isis Silveira|   173|  70.1|28.4|
|       Cecília Porto|   190| 93.42|45.9|
|  Sra. Bruna Almeida|   198| 73.07|27.0|
|   Maria Julia Silva|   170| 71.36|30.0|
|Pedro Henrique da...|   188|105.57|59.3|
|   Davi Lucas Campos|   180| 98.49|53.9|
|      Juan Gonçalves|   175| 71.87|29.5|
+--------------------+------+------+----+